# Downloaded from Google Docs
authors_extras.csv
repos_extras.csv

library_index_raw.json
library_index_clean.json

repos_index.csv
repos_index.csv.bkp
repos_index.csv.tmp
users_index.csv
users_index.csv.bkp
users_index.csv.tmp
versions_index.csv
versions_index.csv.bkp
versions_index.csv.tmp

schema_org_context.json
spdx_licences.json

public/architectures
public/architecture-variants.html
public/authors
public/categories
public/feed.xml
public/index.html
public/libraries
public/licenses
public/sitemap.xml
public/search-index.json
public/types

ansible/*.retry
