<ul>
  <% authors.keys.sort.each do |username| %>
    <% author = authors[username] %>
    <li>
      <%== link_to(author[:name], :href => "/authors/#{username}") %>
      (<%= author[:libraries].count %>)
    </li>
  <% end %>
</ul>
