<% @title = "Library List" %>

<ul>
  <% libraries.keys.sort.each do |key| %>
    <% library = libraries[key] %>
    <li><a href="./libraries/<%= key %>"><%= library[:name] %></a></li>
  <% end %>
</ul>
