<p><%== synopsis %></p>

<table class="table">
  <% keys.sort.each do |key| %>
    <% library = libraries[key] %>
    <tr>
      <td><%== link_to(library[:name], :href => "/libraries/#{key}") %></td>
      <td><%= library[:sentence] %></td>
    </tr>
  <% end %>
</table>
