<p><%== synopsis %></p>

<table class="table">
  <% keys.sort.each do |key| %>
    <% library = libraries[key] %>
    <tr>
      <td><a href="/libraries/<%= key %>"><%= library[:name] %></a></td>
      <td><%= library[:sentence] %></td>
    </tr>
  <% end %>
</table>
