.feed
{
  color: #FFF;
  background: #f60;
  margin: 0.7em 0 0.7em 0;
  padding: 0.2em 0.35em;
  float: right;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
}

.feed:hover
{
  color: #DDD;
  text-decoration: none;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #ffffff;
  text-align: center;
  background-color: #2c3e50;
}
