.feed
{
  color: #FFF;
  background: #f60;
  margin: 0.7em 0 0.7em 0;
  padding: 0.2em 0.35em;
  float: right;
  font-family: sans-serif;
  font-size: 10pt;
  font-weight: bold;
}

.feed:hover
{
  color: #DDD;
  text-decoration: none;
}

.footer {
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 100px;
  color: #ffffff;
  text-align: center;
  background-color: #2c3e50;
}

/* Improve alignment of search button */
.add-on .input-group-btn > .btn {
  border-left-width: 0;
  left: -2px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  z-index: 10;
}

/* stop the glowing blue shadow */
.add-on .form-control:focus {
  box-shadow: none;
  -webkit-box-shadow: none;
  border-color: rgb(220, 228, 236)
}
